<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Interview Question</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <style>
  html {
  color: black;
  padding: 0;
  margin: 0;
  background-color: ;
}
canvas {
  background: black;
  background-color: black;
  display: block;
  margin: 0 auto;
}
h1 {
  color: black;
  margin: auto;
  font-family: monospace;
}
h4 {
  color: green;
}


</style>
</head>

<body>
  <center>
    <h1>
      Interview Question
    </h1>
	
	<div style="width80%;float:left;text-align:left;padding: 30px 150px 30px 150px">
	Using Python, create a script that acesses the below API interace using basic authentication to authenticate.  The username is "interview" and password is "question"</br>Submit a POST request to the interface using the below JSON object in the body of the message.  Parse the response and print the color of the "details" information to the screen
	</br></br>
	<b>URL:</b> http://65.32.170.81:8080/interview</br>
	<b>Username: </b>interview</br>
	<b>Password:</b> question</br>
	<b>Body: </b>submit a JSON object with the word "id" as the key and the word "GET CUSTOMERS" as the value.</br>
	
	</div>
	
  </center>
</body>


</html>
